.card_legendary {

  position: relative;
  overflow: hidden;
  margin: 0px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;

  border-radius: 5% / 3.5%;
  box-shadow:
    -7px -7px 10px -5px transparent,
    7px 7px 10px -5px transparent,
    0 0 5px 0px rgba(255, 255, 255, 0),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);

  transition: transform 0.5s ease, box-shadow 0.5s ease;
  will-change: transform, filter;

  background-color: #040712;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;

}

.card_legendary.normal_size {
  width: 187.5px;
  height: 262.5px;
}

.card_legendary.medium_size {
  width: 247.5px;
  height: 346.5px;
}

.card_legendary.large_size {
  width: 375px;
  height: 525px;
}

.card_legendary.eevee {
  --color1: #f32a6d;
  --color2: #e7ac3e;
  --color3: #45e692;
  --color4: #5ac4e4;
  --color5: #b153dd;
  --front: var(--eeveefront);
}

.card_legendary:hover {
  box-shadow:
    -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2),
    -7px -7px 10px -5px var(--color1),
    7px 7px 10px -5px var(--color2),
    0 0 13px 4px rgba(255, 255, 255, 0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card_legendary.charizard {
  --color1: var(--charizard1);
  --color2: var(--charizard2);
  --front: var(--charizardfront);
}

.card_legendary.pika {
  --color1: var(--pika1);
  --color2: var(--pika2);
  --front: var(--pikafront);
}

.card_legendary.mewtwo {
  --color1: var(--mewtwo1);
  --color2: var(--mewtwo2);
  --front: var(--mewtwofront);
}

.card_legendary.eevee {
  --color1: #f32a6d;
  --color2: #e7ac3e;
  --color3: #45e692;
  --color4: #5ac4e4;
  --color5: #b153dd;
  --front: var(--eeveefront);
}

.card_legendary:before,
.card_legendary:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: .5;
  mix-blend-mode: color-dodge;
  transition: all .33s ease;
}

.card_legendary:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  opacity: .5;
  filter: brightness(0.0) contrast(1);
  background-image: linear-gradient(125deg,
      transparent 15%,
      var(--color1) 36%,
      var(--color2) 43%,
      var(--color3) 50%,
      var(--color4) 57%,
      var(--color5) 64%,
      transparent 100%);
  // animation: holoGradient 10s infinite;
  z-index: 1;
}

.card_legendary.holo_large:after {
  opacity: 1;
  background-image:
    url('../../../assets/img/holo_large.png');
  background-position: var(--backPosX) var(--backPosY);
  background-size: 300%;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(0.75) contrast(1.0);
  transition: all .33s ease;
  mix-blend-mode: color-dodge;
}

.card_legendary.active:after,
.card_legendary:hover:after {
  filter: brightness(1.6) contrast(1);
  opacity: var(--hoverOpacity);
}

.card_legendary.active,
.card_legendary:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out;
}

.card_legendary.active:before,
.card_legendary:hover:before {
  animation: none;
  background-position: var(--gradPosX) var(--gradPosY);
  background-size: 250% 250%;
  opacity: .88;
  filter: brightness(.66) contrast(1.33);
  transition: none;
}

.card_legendary.active:before,
.card_legendary:hover:before,
.card_legendary.active:after,
.card_legendary:hover:after {
  animation: none;
  transition: none;
}

.card_legendary.eevee:hover {
  box-shadow:
    0 0 30px -5px white,
    0 0 10px -2px white,
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card_legendary.eevee:hover:before,
.card_legendary.eevee.active:before {
  background-image: linear-gradient(45deg,
      transparent 15%,
      var(--color1) 36%,
      var(--color2) 43%,
      var(--color3) 50%,
      var(--color4) 57%,
      var(--color5) 64%,
      transparent 100%);
  opacity: 0.6;
  // clip-path: polygon(8% 10.5%, 8% 59.5%, 92.5% 59.5%, 92.5% 10.5%); // Just Picture
  // clip-path: polygon(0% 0%, 0% 100%, 8% 100%, 8% 10.5%, 92.5% 10.5%, 92.5% 60%, 8% 60%, 8% 100%, 100% 100%, 100% 0%); // Excluding Picture
}

@keyframes holoGradient {

  0%,
  100% {
    opacity: 0.5;
    background-position: 0% 0%;
    filter: brightness(0.5) contrast(1);
  }

  50%,
  100% {
    opacity: 1;
    background-position: 100% 100%;
    filter: brightness(0.5) contrast(1);
  }

  0%,
  100% {
    opacity: 0.5;
    background-position: 0% 0%;
    filter: brightness(0.5) contrast(1);
  }

  // 5%,
  // 9% {
  //   background-position: 100% 100%;
  //   opacity: 1;
  //   filter: brightness(0.5) contrast(1.25);
  // }

  // 13%,
  // 17% {
  //   background-position: 0% 0%;
  //   opacity: .88;
  // }

  // 35%,
  // 39% {
  //   background-position: 100% 100%;
  //   opacity: 1;
  //   filter: brightness(0.5) contrast(1);
  // }

  // 55% {
  //   background-position: 0% 0%;
  //   opacity: 1;
  //   filter: brightness(0.5) contrast(1.25);
  // }
}

@keyframes holoSparkle {

  0%,
  100% {
    opacity: .75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }

  5%,
  8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(.8) contrast(1.2);
  }

  13%,
  16% {
    opacity: .5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(.8);
  }

  35%,
  38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }

  55% {
    opacity: .33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}