.card_normal {

  // 210 x 295 Original
  // 262.5 x 368.75 1.25x Original
  // 315 x 442.5 1.5x Original
  // 420 x 590 x2 Original
  // width: 262.5px;
  // height: 368.75px;  
  position: relative;
  overflow: hidden;
  margin: 0px;
  overflow: hidden;
  z-index: 10;
  touch-action: none;

  border-radius: 5% / 3.5%;
  box-shadow:
    -7px -7px 10px -5px transparent,
    7px 7px 10px -5px transparent,
    0 0 5px 0px rgba(255, 255, 255, 0),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);

  transition: transform 0.5s ease, box-shadow 0.5s ease;
  will-change: transform, filter;

  background-color: #040712;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;

}

.card_normal.normal_size {
  width: 187.5px;
  height: 262.5px;
}

.card_normal.medium_size {
  // width: 375px;
  // height: 525px;
  width: 247.5px;
  height: 346.5px;
}

.card_normal.large_size {
  // width: 420px;
  // height: 590px;
  width: 750px;
  height: 1050px;
}

.card_normal.eevee {
  --color1: #f32a6d;
  --color2: #e7ac3e;
  --color3: #45e692;
  --color4: #5ac4e4;
  --color5: #b153dd;
}

.card_normal:hover {
  box-shadow:
    -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2),
    -7px -7px 10px -5px var(--color1),
    7px 7px 10px -5px var(--color2),
    0 0 13px 4px rgba(255, 255, 255, 0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.card_normal.eevee {
  --color1: #f32a6d;
  --color2: #e7ac3e;
  --color3: #45e692;
  --color4: #5ac4e4;
  --color5: #b153dd;
}

.card_normal:before,
.card_normal:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  opacity: .5;
  mix-blend-mode: color-dodge;
  transition: all .33s ease;
}

.card_normal:before {
  background-position: 50% 50%;
  background-size: 300% 300%;
  opacity: .5;
  filter: brightness(0.5) contrast(1);
  z-index: 1;
}

.card_normal:after {
  opacity: 1;
  background-position: 50% 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  z-index: 2;
  filter: brightness(1.0) contrast(0.65);
  transition: all .33s ease;
  mix-blend-mode: color-dodge;
  opacity: .75;
}

.card_normal.active:after,
.card_normal:hover:after {
  filter: brightness(1.6) contrast(1);
  opacity: var(--hoverOpacity);
  ;
}

.card_normal.active,
.card_normal:hover {
  animation: none;
  transition: box-shadow 0.1s ease-out;
}

.card_normal.active:before,
.card_normal:hover:before {
  animation: none;
  background-position: var(--gradPosX) var(--gradPosY);
  background-size: 250% 250%;
  opacity: .88;
  filter: brightness(.66) contrast(1.33);
  transition: none;
}

.card_normal.active:before,
.card_normal:hover:before,
.card_normal.active:after,
.card_normal:hover:after {
  animation: none;
  transition: none;
}

.card_normal.eevee:hover {
  box-shadow:
    0 0 10px -5px white,
    0 0 10px -2px white,
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}