body {
    // color: white;
    // background-color: #3C3C3C;
    // background-color: #333844;
    font-family: "Heebo", sans-serif;
    margin: 0;
    overflow: hidden;
    overflow-y: auto;
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --color1: #BF459F;
    --color2: #2C3340;
    --color3: #F2AA6B;
    --color4: #F28F6B;
    --color5: #F26B6B;
}